<link rel="stylesheet" href="styles/footer.css">

<footer class="home-footer">
    <div class="footer-container">
        <div class="footer-socials">
            <a href="https://www.instagram.com/poam.ufpa/" target="_blank" class="social-link">
                <img src="assets/icons/instagram.svg" alt="Instagram" class="footer-icon">
                INSTAGRAM
            </a>

            <!-- <a href="https://www.instagram.com/poam.ufpa/" target="_blank" class="social-link">
                <img src="assets/icons/mail.svg" alt="Instagram" class="footer-icon">
                E-Mail
            </a> -->
        </div>
        
        <div class="footer-info">
            <p class="copyright">© 2026 POAM. Todos os direitos reservados.</p>
            <a href="LINK" target="_blank" class="dev-link">
                <img src="assets/icons/linkedin.svg" class="footer-icon">
                Desenvolvido por Ramon Castro Barbosa
            </a>
        </div>
    </div>
</footer>