<link rel="stylesheet" href="styles/footer.css">

<footer class="home-footer">
    <div class="footer-container">
        <div class="footer-socials">
            <a href="https://www.instagram.com/poam.ufpa/" target="_blank" class="social-link">INSTAGRAM</a>
        </div>
        
        <div class="footer-info">
            <p class="copyright">© 2026 POAM - Belém, Pará - Brasil • UFPA</p>
            <a href="https://www.linkedin.com/in/ramon-barbosa-712273237" target="_blank" class="dev-link">
                Desenvolvido por Ramon Castro Barbosa
            </a>
        </div>
    </div>
</footer>