<link rel="stylesheet" href="styles/footer.css">

<footer class="home-footer">
    <div class="footer-container">
        
        <div class="footer-socials">
            <a href="https://www.instagram.com/poam.ufpa/" target="_blank" class="footer-link-item">
                <img src="assets/icons/instagram.svg" alt="Instagram" class="footer-icon">
                <span>INSTAGRAM</span>
            </a>
        </div>
        
        <div class="footer-info">
            <!-- <p class="copyright">© 2026 POAM. Todos os direitos reservados.</p> -->
            <a href="https://www.linkedin.com/in/ramoncbarbosa/" target="_blank" class="footer-link-item dev-link">
                <img src="assets/icons/linkedin.svg" alt="LinkedIn" class="footer-icon">
                <span>Desenvolvido por Ramon Castro Barbosa</span>
            </a>
        </div>

    </div>
</footer>