<link rel="stylesheet" href="styles/header.css">
<header class="main-header">
    <div class="header-container">
        <div class="header-logo" onclick="navigateTo('home')">
            <img src="assets/LogoPOAM.png" alt="Logo POAM" class="logo-img">
            <!-- <h1 class="logo-text">POAM</h1> -->
        </div>
        
        <nav class="header-nav">
            <a href="javascript:void(0)" onclick="navigateTo('home')" class="nav-link">Início</a>
            <a href="javascript:void(0)" onclick="navigateTo('publications')" class="nav-link">Publicações</a>
            <a href="javascript:void(0)" onclick="navigateTo('team')" class="nav-link">Equipe</a>
            <!-- <a href="javascript:void(0)" onclick="navigateTo('database')" class="nav-link">Bases de Dados</a> -->
        </nav>

        <button class="mobile-menu-btn" onclick="toggleMenu()">
            <svg class="w-8 h-8" fill="none" stroke="#66422b" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7"></path></svg>
        </button>
    </div>
</header>