<link rel="stylesheet" href="styles/location.css">
<section class="location-section">
    <div class="location-container">
        <h2 class="location-title">Localização</h2>
        <div class="map-wrapper">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3989.1903673750035!2d-48.448!3d-1.475!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x92a48b9454f0a055%3A0x6338549646b9a218!2sUFPA%20-%20Universidade%20Federal%20do%20Par%C3%A1!5e0!3m2!1spt-BR!2sbr!4v1700000000000" 
                allowfullscreen="" loading="lazy"></iframe>
        </div>
    </div>
</section>