<link rel="stylesheet" href="styles/menu.css">

<div id="mobile-menu-inner">
    
    <div class="menu-header">
        <span class="menu-title">Navegação</span>
        <button class="menu-close-btn" onclick="toggleMenu()" aria-label="Fechar Menu">✕</button>
    </div>
    
    <nav class="menu-nav">
        <a href="javascript:void(0)" onclick="navigateTo('home')" class="menu-link" data-page="home">Início</a>
        <a href="javascript:void(0)" onclick="navigateTo('publications')" class="menu-link" data-page="publications">Publicações</a>
        <a href="javascript:void(0)" onclick="navigateTo('team')" class="menu-link" data-page="team">Equipe</a>
    </nav>

    <div class="menu-footer">
        <a href="https://www.instagram.com/poam.ufpa/" target="_blank" class="menu-social-link">
            <img src="assets/icons/instagram_brown.svg" alt="Instagram" class="menu-icon">
            INSTAGRAM
        </a>
    </div>

</div>