.main-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background: #fff;
    backdrop-filter: blur(10px);
    border-bottom: 1px solid #064e3b;
    padding: 1rem 1.5rem;
}

.header-container {
    max-width: 80rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: 10px;
}

.logo-img {
    width: 12rem;
    height: 6rem;
    /* border-radius: 50%; */
    /* object-fit: cover; */
}

.logo-text {
    font-weight: 900;
    /* color: #064e3b; */
    /* color: #976a4b; */
    color: #66422b;
    font-size: 1.5rem;
    letter-spacing: -0.05em;
}

.header-nav {
    display: none;
    gap: 2rem;
}

.nav-link {
    font-size: 1.5rem;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    /* color: #4b5563; */
    /* color: #8f6243; */
    color: #66422b;
    text-decoration: none;
    transition: color 0.3s;
}

.nav-link:hover { color: #66422b; }

@media (min-width: 768px) {
    .header-nav { display: flex; }
    .mobile-menu-btn { display: none; }
}