.location-section {
    padding: 5rem 1.5rem;
    background: white;
}

.location-container {
    max-width: 80rem;
    margin: 0 auto;
    text-align: center;
}

.location-title {
    font-size: 2.5rem;
    font-weight: 800;
    text-transform: uppercase;
    color: #064e3b;
    margin-bottom: 3rem;
}

.map-wrapper {
    height: 60vh;
    border-radius: 2rem;
    overflow: hidden;
    border: 8px solid #f0fdf4;
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1);
}

.map-wrapper iframe {
    width: 100%;
    height: 100%;
    border: 0;
}
@media (max-width: 926px) {
.location-title {
    font-size: 2rem;
}
}